<!DOCTYPE HTML5>
<html>
  <head>
    <title>Dit is een pagina</title>
  </head>
  <body>
    <form action="start" method="post">
      <input type="submit" name="Start" value="Start">
    </form>
    <form action="stop" method="post">
      <input type="submit" name="Stop" value="Stop">
    </form>
    <form action="upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" name="Upload" value="Upload">
    </form>
  </body>
</html>
