<!DOCTYPE HTML5>
<html>
  <head>
    <title>Dit is een pagina</title>
  </head>
  <body>
    Python:
    <form action="start/{{ username }}/py" method="post">
      <input type="submit" name="Start" value="Start">
    </form>
    <form action="stop/{{ username }}/py" method="post">
      <input type="submit" name="Stop" value="Stop">
    </form>
    Javascript:
    <form action="start/{{ username }}/js" method="post">
      <input type="submit" name="Start" value="Start">
    </form>
    <form action="stop/{{ username }}/js" method="post">
      <input type="submit" name="Stop" value="Stop">
    </form>
    Upload:
    <form action="upload/{{ username }}" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" name="Upload" value="Upload">
    </form>
  </body>
</html>
