<!DOCTYPE HTML5>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jederu » Upload</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='jederu.ico') }}">
    <link rel="favicon" type="image/png" href="img/jederu.png"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="{{ url_for('static', filename="jederu.png") }}" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right:20px">
      <a class="navbar-brand" href="/">Jederu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Menu <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="control">Controle</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="upload">Upload</a>
          </li>
        </ul>
        {% if username == "admin" %}
        <form class="form-inline my-2 my-lg-0" action="admin" method="get" style="padding-right: 1%">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Admin Panel</button>
        </form>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" action="logout/{{ username }}" method="post">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Log uit</button>
        </form>
      </div>
    </nav>
    <form class="custom-file" method="post" action="upload/{{ username }}" enctype="multipart/form-data">
      <input type="file" class="custom-file-input" id="customFile" name="file">
      <label class="custom-file-label" for="customFile">Kies bestand</label>
      <input type="submit" class="btn btn-primary" name="Upload" value="Upload">
    </form>
    <h5 style="margin-left:1rem">Let op: Het bestand moet index.py/.js heten!</h5>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
